<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="MetadataFileName" value="D:\inetpub\wwwwms\epsapi\bin\metamodel.xml" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
    <eps xdt:Transform="Replace"
        OdbcConnectionString="Dsn=WMSMLC;uid=dev_mp_wt;pwd=ltdvgdnjhfntcn552;"
        OdacConnectionString="Data Source=10.0.0.36/orawmsdev;User ID=DEV_MP_REP;Password=12;"
        ReportPath="D:\DEV\Share\Reports"
        ArchPath="D:\DEV\Share\Archive"
        TmpPath="D:\DEV\Share\Tmp">
      <MailSettings
        Host="MLC2.my.local"
        Port="25"
        UserName="my\wms_server"
        Password="12"
        From="wms_server@my.ru"
        Subject="Report from wmsMLC PRO (DEV)"
        Body="wmsMLC PRO Reporting System (DEV)"
        IsBodyHtml="true">
      </MailSettings>
    </eps>
</configuration>