<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="MetadataFileName" value="С:\inetpub\wwwroot\epsapi\bin\metamodel.xml" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <eps xdt:Transform="Replace"
       OdbcConnectionString="Dsn=wmstst1;uid=dev_mp_rep;pwd=repWMStest1;"
       OdacConnectionString="Data Source=10.0.0.223/wmstst1;User ID=dev_mp_rep;Password=12;"
       ReportPath="C:\TST1\Share\Reports"
       ArchPath="C:\TST1\Share\Archive"
       TmpPath="C:\TST1\Share\Tmp">
    <MailSettings
      Host="MLC2.my.local"
      Port="25"
      UserName="my\wms_server"
      Password="12"
      From="wms_server@my.ru"
      Subject="Report from wmsMLC PRO (TST)"
      Body="wmsMLC PRO Reporting System (TST)"
      IsBodyHtml="true">
    </MailSettings>
  </eps>
</configuration>