.c-field-noborder .x-form-text, .c-field-noborder textarea.x-form-field
{
    border-width: 0;
}

.c-command a:link, a:visited, a:active 
{
  color: #333333;
}


.c-error-msgbox-table td
{
    vertical-align: top;
    padding: 5px 0 5px 0;
    border-top:solid 1px #B5B8C8
}

.c-error-msgbox-table .item1 td
{
    padding-top:0;
    border-top-width: 0;
}

.c-error-msgbox-table .c-error-item-moreinfo
{
    padding-left: 8px;
}


.c-error-msgbox-table .c-error-confirmline td
{
    padding-top: 15px;
}