.gms-ct {
    background-color: white;
    border-top: 1px solid #cecece;
}

.gms-ct + div {
    border-top: none;
}

.gms-ct + .x-grid-body .x-grid-cell-row-checker {
    border: none;
}

.gms-ct .gms-nofilter {
    background-color: #fff;
}

.gms-ct .x-form-trigger-wrap-default {
    border-color: #bec0c2;
}

.gms-ct .x-form-trigger-wrap-default.x-form-trigger-wrap-focus {
    border-color: #99bce8;
}

.gms-filtered::after {
    font-family: 'Ionicons';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f31b";
    display: inline-block;
    line-height: 0;
    position: absolute;
    top: 14px;
    right: 20px;
    z-index: 2147483647;
    color: #3386c2;
}

.x-focus.gms-filtered::after {
    color: #000;
}

.gms-filtered {
    color: #3386c2;
}

.x-column-header-align-right .x-column-header-text {
  margin-right: 26px;
}