<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="WF_XAML_PATH" value="C:\TST1\Wf_Data\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="REPORTS_PATH" value="C:\TST1\Share\Reports\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="enableMiniProfiler" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EpsApiUrl" value="http://mp-app-test-nwms/epsapi/v1/eps/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MetadataFileName" value="C:\inetpub\wwwroot\wms\bin\metamodel.xml" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <log4net debug="false" xdt:Transform="Replace">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\TST1\Share\LOGS\wmsWebApp\WebApp.log" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy-MM-dd" />
      <preserveLogFileNameExtension value="true" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%-5level] [%aspnet-context{requestId} - %thread] %logger %message%newline" />
      </layout>
    </appender>
    <logger name="MLC">
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </logger>
  </log4net>
  <connectionStrings xdt:Transform="Replace">
    <add name="wms" connectionString="Data Source=10.0.0.223/wmstst1;User ID=DEV_MP_WT;Password=12;" />
    <add name="rep" connectionString="Data Source=10.0.0.223/wmstst1;User ID=DEV_MP_REP;Password=12;" />
    <add name="wf" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=WF;Integrated Security=true" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>