<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="net461" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net451" />
  <package id="log4net" version="2.0.5" targetFramework="net451" />
  <package id="Microsoft.Activities.Extensions" version="2.0.6.9" targetFramework="net451" />
  <package id="MLC.WF.Activities" version="1.17.1.0" targetFramework="net461" />
  <package id="MLC.WF.Core" version="1.17.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NHibernate" version="4.0.4.4000" targetFramework="net451" />
  <package id="Serialize.Linq" version="1.2.4" targetFramework="net451" />
  <package id="System.Linq.Dynamic" version="1.0.6" targetFramework="net451" />
  <package id="Unity" version="4.0.1" targetFramework="net461" />
  <package id="WebClient.Abac" version="1.6.0.0" targetFramework="net461" />
  <package id="WebClient.Common" version="1.6.0.0" targetFramework="net461" />
</packages>