<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MLC.Wms.IntegrationService.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <applicationSettings>
    <MLC.Wms.IntegrationService.Tests.Properties.Settings>
      <setting name="EndPoint" serializeAs="String">
        <value>http://localhost/wmsintegration/v1/QueueService.svc/web</value>
      </setting>
      <setting name="EndPointClientConfigName" serializeAs="String">
        <value>webHttpBinding_QueueTstService</value>
      </setting>
    </MLC.Wms.IntegrationService.Tests.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding_QueueTstService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="webHttpBinding_QueueTstService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
           <!--<security mode="None">
          </security>-->
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </webHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_QueueTstService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="Message">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webEndpoint">
          <webHttp defaultBodyStyle="Wrapped"
                   defaultOutgoingResponseFormat="Xml"
                   helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://localhost/WmsIntegration/v1/tst/QueueTstService.svc/web" binding="webHttpBinding" behaviorConfiguration="webEndpoint" bindingConfiguration="webHttpBinding_QueueTstService" contract="QueueTstServiceClient.QueueTstService" name="webHttpBinding_QueueTstService"/>
      <endpoint address="http://localhost/WmsIntegration/v1/tst/QueueTstService.svc/soa" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_QueueTstService" contract="QueueTstServiceClient.QueueTstService" name="BasicHttpBinding_QueueTstService"/>
      <endpoint address="http://localhost/WmsIntegration/v1/tst/QueueTstService.svc/soa" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_QueueTstService" contract="QueueTstServiceClient.QueueTstService" name="WSHttpBinding_QueueTstService"/>
    </client>
  </system.serviceModel>
</configuration>